[workspace]
members = [
]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.92.0"
license = "GPL-3.0"
repository = "https://github.com/Hobr/Shiroha"

[workspace.dependencies]
tokio = { version = "1.48", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }

anyhow = "1.0"
thiserror = "2.0"

shadow-rs = { version = "1.5", features = ["metadata"] }

[profile.release]
debug = false
lto = true
strip = true
opt-level = 3
codegen-units = 1
panic = "abort"
